body{
    font-family: "Roboto", sans-serif;
    color: #434455;

}
:root { --add-color:#4d5ae5}
:root {--main-color:#2e2f42}
:root{--link-color:#434455}
:root{--background-color:#2e2f42}
p,
h1,
h2,
h3,
h4,
h5,
h6{margin: 0;}

ul{
   padding-left: 0;
   margin: 0;
}
button
{cursor: pointer;}

address
{font-style: normal;}

img{display: block;}
/* main */

.logo{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--add-color);
        padding-left: 0px;
       
}
.studio-span
{color: var(--main-color);}


.list
{list-style: none}

.link
{ text-decoration: none}

.container {
   margin-left: auto;
   margin-left: auto; 
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   outline: 2px solid red;}
.head-container
{display: flex;
text-align: center;}
.header 
{ padding-top: 24px;
   padding-bottom: 24px;
background-color:FFFFFF;}
.header-nav 
{ margin-right: auto;
   justify-content: center;
   background-color: #FFFFFF;
display: flex;
gap: 40px;}
.header-container
{display: flex;}
.header-list-nav {
 display: flex;
}
.adress
{
  
   color: var(--link-color);
}

.hov:hover :focus
{color:#404bbf}



.links-nav {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
 color: #2E2F42;


}
.links-nav:first-child{margin-left: 76px;}


 .links-nav:hover{color:#404bbf}
 .links-nav:focus{color: #404bbf}



.adress-list{

}

.list-adress {
   margin-left: auto;
   display: flex;
   color: var(--link-color);
   gap: 40px;
   
}

.adress-item{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing : 0.02em;
     color: #434455;
  }
   


     .adress-link:hover{color: #404bbf}
     .adress-link:focus{color: #404bbf}
         
     .adress-link
     {color: var(--link-color);
    
 
   }

     /* SECTION ONE */
         .solutions {background-color: var(--background-color);
         
         }
    
.container-solutions{
   background-color: #2E2F42;
   text-align: center;
}

         .solutions-title {font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
padding-top: 188px;
padding-bottom: 292px;

            letter-spacing: 0.02em;color: #FFFFFF;
         margin-bottom: 48px; 
         
        
         }
    
         .solutions-btn {font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            display: inline-block;
            border-radius: 4px;
            padding: 16px 32px;
            background: var(--add-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            line-height: 1.5;
             display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            cursor: pointer;
             color: #FFFFFF;}

/* SECTION TWO */
.advantages{
   padding-top: 120px;
   padding-bottom: 120px;
}
.advantages-main-title {}
            
.hidden {}
            
.advantages-list {}
            
.list {}
            
.advantages-list-item {}
            
.advantages-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     letter-spacing: 0.02em;
    color: #2E2F42;}
            
 .advantages-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
    color: #434455;}

    /* SECTION THREE */
    .tasks-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
           text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
         color: #2E2F42;
    }
        .tasks {
        
         padding-bottom: 120px;
        }
    
        .tasks-list {}
    
        .tasks-list-item {}
    
        .tasks-img {}

        /*  SECTION FOUR*/
   .team {padding-top: 120px;
   padding-bottom: 120px;
   }

   .team-main-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
color: #2E2F42;}

   .team-list {}

   .team-list-item {}

   .team-img {}

   .team-item {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
   
    text-align: center;
    letter-spacing: 0.02em;
 color: #2E2F42;}

   .team-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
 color: #434455;}
 /* FOOTER */
 .footer {background-color: var(--background-color);
padding-top: 100px;
padding-bottom: 100px;


}

 .fotter-link {}

 .fotter-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
   
    letter-spacing: 0.02em;
  color: #F4F4FD;}
  .sspan{color: #f4f4fd}



  /* portfolio */
  /* SECTION */
  .list {list-style: none}

  .btn {font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
 color:var(--add-color);
border: 1px solid #E7E9FC;
   border-radius: 4px;
   padding: 12px 24px;
}

 /* section img */
 .images {}

 .images-list {}

 .images-img {}

 .images-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 color: #2E2F42;}

 .images-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 color: #434455;}
 .link{text-decoration: none}